<div class="row">
    <div class="col-md-5">
        <div class="card" id="">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#todo" data-toggle="tab"><b>Todo</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#completed" data-toggle="tab"><b>Completed</b></a>
                    </li>
                </ul>
            </div>
            <div class="card-body border-0 tab-content p-0" id="task-lists">
                <div class="tab-pane active m-0 p-0" id="todo">
                    <ul class="list-group" id="todo-list">
                        <li class="list-group-item">
                            No todo items found.
                        </li>
                    </ul>
                    {% if 'management' in request.path %}
                        <button class="btn btn-block btn-primary" id="addTask">Add Task</button>
                    {% endif %}
                  </div>
                <div class="tab-pane p-0" id="completed">
                    <ul class="list-group" id="completed-list">
                        <li class="list-group-item">
                            No completed tasks.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <b>Calendar</b>
            </div>
            <div class="card-body">
                <div class="card-block" id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="taskModal"></div>
