{% extends "accounts/base_template.html" %}
{% block content %}
<div class="container">
  <div class = "card mx-auto">
    <div class="row">
      <form method = "POST" class="col-md-6 loginform register" action="/accounts/register/">
        <h6 class="card-subtitle mb-2 text-muted">Need an Account?</h6>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <form method = "POST" class="col-md-6 loginform login" action="/accounts/login/">
        <h6 class="card-subtitle mb-2 text-muted">Already Have an Account?</h6>
        {% csrf_token %}
        {{login_form.as_p}}
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="resetLink">Forgot your <a href="/accounts/passwordReset">Password</a>?</p>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
  
                                                               
    
