{% extends "app/base_template.html" %}
{% block content %}
{% load accounts_tags %}
{% load css_tag %}
<div class = "card col-md-6 mx-auto">
  <div class="mx-auto mb-2">{{request.user.email | gravatar:200 }}</div>
  <p class = "card-text mx-auto" id="profileUsername">{{request.user.email}}</p>
  {% if form.errors and not form.non_field_errors %}
  <div class="alert alert-danger">
    {% if form.errors.items|length == 1 %} 
    "Please correct the error below." 
    {% else %} 
    "Please correct the errors below." 
    {% endif %}
  </div>
  {% endif %} 
  {% if form.non_field_errors %} 
  {% for error in form.non_field_errors %}
  <div class="alert alert-warning">
    {{ error }}
  </div>
  {% endfor %} 
  {% endif %}
  <form action="." method ="post">
    <div class="form-group">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
	<label for="{{field.auto_id}}">{{field.label}}</label>
	{{field}}
      </div>
      {% endfor %}
    <button type="submit" class="btn btn-primary col align-self-end ">Update Profile</button>
  </form>
</div>
{% endblock %}
  
