{% extends "app/base_template.html" %}
{% block content %}
{% load accounts_tags %}
{% load css_tag %}
<div class = "card col-md-6 mx-auto">
<div class="mx-auto mb-2">{{request.user.email | gravatar:200 }}</div>
<p class = "card-text mx-auto" id="profileUsername">{{request.user.email}}</p>
<div class = "card-text">
    <div class = "card-body mx-auto">
        {% if form.errors and not form.non_field_errors %}
        <div class="alert alert-danger">
            {% if form.errors.items|length == 1 %} 
            "Please correct the error below." 
            {% else %} 
            "Please correct the errors below." 
            {% endif %}
        </div>
        {% endif %} 
        {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
        {% endfor %} 
        {% endif %}
        <form action="." method ="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }} {{ field.label_tag }}
                <div class="form-input">{{ field }}</div>
                <small class="form-text text-muted">{{ field.help_text | safe}}</small>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary col align-self-end ">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}