{% extends "app/base_template.html" %}
{% load accounts_tags %}
{% load static %}

{% block css_extra %}
<!--     <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}"> -->
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="/app">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card-columns" >
            {% for user in user_list %}
            <div class="card" >
                <div class="media">
                    <img src="{{ user.email | gravatar_url:120 }}">
                    <div class="media-body ml-3 mt-3 mr-3 ">
                        <a href="/accounts/user/{{user.id}}"><h5>{{ user.get_full_name }}</h5></a>

                        <svg class="icon ml-0" viewBox="0 0 8 8"><use xlink:href="#envelope-closed"></use></svg><a href="mailto:{{user.email}}">{{ user.email }}</a>

                        <p><small><b>Last login:</b> {{ user.last_login }}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
