{% extends 'management/base_template.html'%}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css">
<style type="text/css">
    .task-list{
        list-style: none;
    }

    .task-item {
        display: block;
        border-bottom: 1px solid #ddd;
        height: 3rem;
     }

    .task-item > input {
        margin-right: 0.5em;
    }

    .task-item:hover {
        background: #f6f6f6;
        cursor: pointer;
    }

</style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/management">Manage</a>
</li>
<li class="breadcrumb-item">
    <a href="/management/projects">Projects</a>
</li>
<li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col card">
        <div class="card-body">
            <h1>{{ object.name }}</h1>
            <small>{{ object.start }} - {{ object.end }}</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col card">
        <div class="card-body">
            <h2>Tasks</h2>
            <ul class="list-group task-list" id="incomplete">
                {% for item in object.tasks.all %}
                <li class="list-group-item task-item" id="{{ item.id }}">
                    <input type="checkbox">{{ item.name }}</li>
                {% empty %}
                <li>This project has no tasks</li>
                {% endfor %}
            </ul>
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#task-modal">
                Add Task
            </button>

            <ul class="completed task-list">
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col card">
        <div class="card-body">
            {% with data=object.experiment_set.all %}
            {% include 'app/experiment_table.html' %}
            {% endwith %}
        </div>
    </div>
</div>


{% endblock %}

{% block script_extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>

<script src="{% static 'js/tasklist.js' %}"></script>
<script type="text/javascript">
new Pikaday({
    field: $('#{{ task_form.due_date.auto_id }}')[0]
});

$('#{{ task_form.assigned.auto_id }}').selectize();
</script>
{% endblock %}
