{% extends 'app/base_template.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/app">Home</a></li>
<li class="breadcrumb-item active">Tasks</li>
{% endblock %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card" id="">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#todo" data-toggle="tab"><b>Todo</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#completed" data-toggle="tab"><b>Completed</b></a>
                    </li>
                </ul>
            </div>
            <div class="card-body tab-content" id="task-lists">
                <div class="tab-pane active" id="todo">
                    <ul class="list-group" id="todo-list">
                        <li class="list-group-item">
                            No todo items found.
                        </li>
                    </ul>
                  </div>
                <div class="tab-pane" id="completed">
                    <ul class="list-group" id="completed-list">
                        <li class="list-group-item">
                            No completed tasks.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <b>Calendar</b>
            </div>
            <div class="card-body">
                <div class="card-block" id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="taskModal"></div>
{% endblock %}

{% block script_extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>

<script type="text/template" id="modalTemplate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="taskModalLabel"><%= name %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <div class="form-group">
                        <label for="taskName">Task Name</label>
                        <input id="taskName" required class="form-control" placeholder="Name" name="name" <%if (id) { %>value="<%= name %><% }%>">
                    </div>
                    <div class="form-group">
                        <label for="taskDescription">Task Description</label>
                        <input id="taskDescription" required class="form-control" placeholder="Description" name="description" value="<%= description %>">
                    </div>
                    <div class="form-group">
                        <label for="taskAssign">Assign Task</label>
                        <input id="taskAssign" class="form-control" placeholder="Assign" name="assigned" value="<%= assigned %>">
                    </div>
                    <div class="form-group">
                        <label for="taskDue">Due date</label>
                        <input id="taskDue" type="date" class="form-control" placeholder="Due" name="due_date" value="<%= due_date %>">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <%if (id) { %>
                <button type="button" class="btn btn-success mr-auto" id="complete-btn">Mark Complete</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-btn">close</button>
                <% }%>

            </div>
        </div>
    </div>
</script>

<script type="text/template" id="taskTemplate">
    <div class="media">
        <input type="checkbox">
        <div class="media-body ml-3">
            <div>
                <b><%=name%></b> - <%=description%>
                <small class="float-right text-muted"><% if (due_date){ %> Due on <%=due_date%><% } %></small>
            </div>

        </div>
    </div>
</script>

<script type="text/javascript">
    var tasks_array = {{ object_list | safe }};
</script>
<script src="{% static 'js/user_tasklist.js' %}"></script>
{% endblock %}
