<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load static %}
    <link rel="icon" href="{% static favicon.ico %}">
    
    <title>Pasteur.io</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% load static %}
    <!-- Custom styles for this template -->
    <link href="{% static 'frontpage/cover.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner" >
              <h3 class="masthead-brand"><img class="headerLogo" src="{% static 'frontpage/images/pasteur.png' %}"/>Pasteur</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/" id="home-nav">Home</a>
                <a class="nav-link" href="/app/">Login</a> 
              </nav>
	    </div>
	  </div>
	  {% block content %}

	  {% endblock%}
	  </div>
	</div>
      </div>

      <!-- Bootstrap core JavaScript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src = "{%static 'frontpage/js/base.js' %}"></script>

<footer class = "page-footer font-small blue pt-4 mt-4">
  <div class="footer-copyright py-3 text-center">

    <div class="footer-copyright py-6 text-center">
       © 2018 Copyright: <a href="/">Pasteur.Io</a> |
      Made Proudly in Edmonton
    </div>

    <div class="footer-copyright py-6 text-center">
      <a href="/support">Support</a>
      |
      <a href="/contactus">Contact Us </a>
      |
      <a href="/invest">Investors</a>
    </div>
   
   
  </div>
</footer>

</html>
