{% load static %}
<h2 class="index-heading" > Features </h2>
<div class="row feature-row">
  <div class="feature-box">
    <img  id="informatics-img" src="{% static 'common/img/img-trans.gif'%}">
    <div class="feature-box-body">
      <h6 class="feature-title"> Powerful Informatics </h6>
      <div class="feature-text"> Get more done with powerful tools <br></br>
	
	<ul>
	  <li>Keep track of tasks and responsibilities </li>
	  <li>Keep track of where members are spending time</li>
	</ul>
      </div>
    </div>
  </div>
  <div class="feature-box">
    <img id="analysis-img" src="{% static 'common/img/img-trans.gif'%}">
    <div class= "feature-box-body">
      <h6 class="feature-title">Leading Analytics</h6>
      <div class="feature-text">Find correlations, without the effort <br></br>
	<ul>
	  <li>Adaptable to any type of data </li>
	  <li>Drag-and-Drop interface </li>
	  <li>Automatically import new data from Industry standard filetypes </li>
	</ul>
      </div>
    </div>
  </div>
    <div class="feature-box">
      <img id="eln-img" src="{% static 'common/img/img-trans.gif'%}">
      <div class= "feature-box-body">
	<h6 class="feature-title">Online ELN</h6>
	<div class="feature-text">Online Electronic Lab Notebook <br></br>
	  <ul>
	    <li>Keep your data safe and secure </li>
	    <li>Search experimental results and raw data</li>
	    <li>Automatically generate reports directly from results</li>
	  </ul>
	</div>
      </div>
    </div>
    <div class="feature-box">
      <img id="sop-img" src="{% static 'common/img/img-trans.gif'%}">
      <div class= "feature-box-body">
	<h6 class="feature-title">LIMS</h6>
	<div class="feature-text">Powerful Lab Information Management Software<br> </br>
	  <ul>
	    <li>Keep stock of lab equipment and supplies</li>
	    <li>Get notifications when it's time to order</li>
	    <li>Generate usage reports and projections based on experimental plans</li>
	  </ul>
	</div>
      </div>
    </div>
</div>

<div class = "col-md-3 actionbutton">
  <a class="btn btn-primary" href="#pricing"> See Pricing </a>
</div>
