<h2 class="index-heading"> Pricing </h2>
<div class = "pricing-cards">
  {% load static %}
  <div class="row" id="pricing-cards-row"> 
    <div class="card" style="width:20rem">
      <img class="card-img-top pricing-box" src="{% static 'common/img/img-trans.gif' %}" id="single">
      <div class="card-body">
	<h5 class="card-title">Single Seat</h5>
	<p class="card-text"> One user, Unlimited Experiments, Unlimited Projects. $12.99 per month </p>
	<a href="#" class="btn btn-primary"> Sign up now </a>
      </div>
    </div>
    <div class="card" style="width:20rem">
      <img class="card-img-top pricing-box" src="{% static 'common/img/img-trans.gif' %}" id="bundle">
      <div class="card-body">
	<h5 class="card-title">Bundle and save!</h5>
	<p class="card-text">Register all of the members of your lab! Buy 5 seats, get 2 extra for no extra cost. $64.95 per month </p>
	<a href="#" class="btn btn-primary"> Sign up now </a>
      </div>
    </div>
    <div class="card" style="width:20rem">
      <img class="card-img-top pricing-box" src="{% static 'common/img/img-trans.gif' %}" id="custom">
      <div class="card-body">
    <h5 class="card-title">Custom Plan</h5>
    <p class="card-text">Different situation? Contact us and figure out custom pricing.</p>
    <a href="#" class="btn btn-primary"> Sign up now </a>
      </div>
    </div>
  </div>
</div>
