{% extends "registration/base.html" %} {% block content %}
<div class="col-md-5">
    <div class="row">
        <!--  some info -->
        <div class="col-md-7 info-block pl-5">
            <!-- Logo here -->
            <div class="row logo">
                <div class="col">
                    <h1 class="pt-3"><b>Pasteur</b>.io</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Some text goes here
                </div>
            </div>
            <div class="row bottom-links">
                <div class="col">
                    <p><a href="/accounts/register">Not a client? Click here to register!</a></p>
                </div>
            </div>
        </div>
        <!-- login form -->
        <div class="col-md-5 p-4 pt-5 pb-5 form-block">
            {% if form.errors and not form.non_field_errors %}
            <div class="alert alert-danger">
                {% if form.errors.items|length == 1 %} "Please correct the error below." {% else %} "Please correct the errors below." {% endif %}
            </div>
            {% endif %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
            {% endfor %} {% endif %}
            <form action="{{ app_path }}" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        {{ form.username.errors }} {{ form.username.label_tag }}
                    </div>
                    <div class="form-input">{{ form.username }}</div>
                </div>
                <div class="form-group pb-3">
                    <div>
                        {{ form.password.errors }} {{ form.password.label_tag }}
                    </div>
                    <div class="form-input">{{ form.password }}</div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <div class="form-group row justify-content-md-center">
                    <div class="col">
                        <input class="btn btn-secondary btn-block" type="submit" value="Log in" />
                    </div>
                </div>
                <div class="text-right"><a href="#">Forgot your password?</a></div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col back-link"><a href="/"><small>&laquo; Back to Homepage</small></a></div>
    </div>
</div>
{% endblock%}