{% extends 'registration/base.html' %}

{% block content %}
<div class="col-md-6">
  <div class="logo m-5">
    <h1>
      <b>Pasteur</b>.io
    </h1>
  </div>
  <div class="card m-5">
    <div class="card-body">
      <h3>Forgot your password?</h3>
      <p>Don't worry! We'll send you instructions on how to reset it.</p>
      <form method="post" class="form-group">
	{% csrf_token %}
    <form method="post">
	{% for field in form %}
	<div class="form-group">
	  {{field.errors}} {{field.label_tag}}
	  <div class="form-input">{{field}}</div>
	  <small class="form-text text-muted">{{ field.help_text | safe }}</small>
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
