{% extends "app/base_template.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-header">Info</h2>
      <div class="card-body">
	<div id="product-headsup">
	  <div class="row">
	    <div id="product-image" class="col-md-4">
	      <canvas id="product-headsup-image" height="300" width="300"></canvas>
	    </div>
	    <div id="product-headsup-details col-md-8">
	      <h2 id="name">Select an Item</h2>
	      <p id="description">Select an Item to see a description</p>
	      <div id="product-headsup-attr">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="card">
	<h2 class="card-header">Statistics</h2>
	<div class="card-body">
	  <canvas id="product-statistics" height="300" width="300"></canvas>
	</div>    
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class = "card">
      <div class="card-header">
	<div class="form-group">
	  <div class="d-flex float-left">
	    <select class="form-control" placeholder="Category"><option>Category</option></select>
	  </div>
	  <div class="d-flex float-right">
	    <input type="text" class="form-control" placeholder="Search"></input>
	  </div>
	</div>
      </div>
      <table class="table table-hover">
	<thead>
	  
          <div class="d-flex float-right">
            <a class="" href="/inventory/add">+</a>
          </div>
	  
	</thead>
	{% for items in object_list %}
	<tr>
          <td>{{items.item.name}}</td>
          <td>{{items.item.description}}</td>
          <td>
            {% for field in items.fields %}
            {{field.field_type}}: {{field.field_value}}</br>
            {% endfor %}
          </td>
          <td>
            <div class="d-flex float-right">
              <div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" href="#" role="button"
			data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">Actions
		</button>
		
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  <a class="drowdown-item" href="">Delete</a><br>
		  <a class="drowdown-item" href="item/{{items.item.id}}">Edit </a>
		</div>
              </div>
            </div>
          </td>
	</tr>
	{% endfor %}
      </table>   
    </div>
  </div>
  
</div>



{% endblock %}
