{% for name, tool_set in tools.items %}
<div class="set-header dropdown-toggle">
    <a data-toggle="collapse" href="#{{ name | slugify }}">{{ name }}</a>
</div>
<div class="collapse" id="{{ name | slugify}}">
    <ul class="list-group tool-list">
    {% for tool_name, settings in tool_set.items%}
        <li class="list-group-item" draggable="true">
            <div class="media">
                <img class="mr-3" src="http://via.placeholder.com/50x50">
                <div class="media-body">
                    <p class="font-weight-bold">{{ tool_name }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}
