{% extends "app/base_template.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/management">Manage</a>
</li>
<li class="breadcrumb-item">
    <a href="/management/sop">SOP</a>
</li>
<li class="breadcrumb-item active">
    Upload SOP
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>SOPs</h1>
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <form method="POST", enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
			<div id = "procedure">
			  <p> Type out your procedure here </p>
			</div>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}
