{% extends "app/base_template.html" %}
{% load static %}

{% block css_extra %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/app">Home</a>
</li>
<li class="breadcrumb-item active">
    Fields
</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-10">
        <h1>Fields</h1>
    </div>
    <div class="col-sm-2">
        <a href="/management/fields/create" class="btn btn-secondary float-right">Add Field</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-block">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Field name</th>
                            <th>Data type</th>
                            <th>Empty Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in object_list %}
                        <tr data-url="/management/fields/edit/{{field.id}}">
                            <td><input type="checkbox"></td>
                            <td>{{ field.name }}</td>
                            <td>{{ field.data_type }}</td>
                            <td>{{ field.empty }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="edit/{{ field.id }}"class="btn btn-secondary">Edit</a>
                                    <a href="delete/{{ field.id }}" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="1000">No Fields found</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
{% endblock %}
