{% extends "management/base_template.html" %}
{% load static %}

{% block css_extra %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/management">Manage</a>
</li>
<li class="breadcrumb-item active">
    Templates
</li>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-10">
        <h1>Templates</h1>
    </div>
    <div class="col-sm-2">
        <a href="/management/templates/create" class="btn btn-secondary float-right">Add Template</a>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-block">
                {% if not object_list %}
                    No templates found
                {% endif %}
                <ul class="list-group">
                    {% for template in object_list %}
                        <li class="list-group-item">
                        <span>{{ template.name }}</span>
                        <span class="btn-group float-right" role="group">
                            <a href="edit/{{ template.id }}" class="btn btn-primary">Edit</a>
                            <a href="delete/{{ template.id }}" class="btn btn-primary">Delete</a>
                        </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
{% endblock %}
