{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if app_list %}
    {% for app in app_list %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5><a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></h5>
            </div>
                <ul class="list-group list-group-flush">
                {% for model in app.models %}

                   <li class="list-group-item">
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    {% else %}
                        {{ model.name }}
                    {% endif %}

                    <div class='btn-group float-right'>

                    {% if model.add_url %}
                        <a href="{{ model.add_url }}" class="btn btn-secondary btn-sm">{% trans 'Add' %}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}

                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}" class="btn btn-secondary btn-sm">{% trans 'Change' %}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                    </div>
                    </li>
                {% endfor %}
                </ul>
            
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}

{% endblock %}

{% block sidebar %}
<div  class= "col-sm-4" id="content-related">
    <div class="card" id="recent-actions-module">
        <div class="card-header">
            <h5>{% trans 'Recent actions' %}</h5>
        </div>
        <div class="card-body">
            <div class="card-title"><b>{% trans 'My actions' %}</b></div>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
