{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
    <title>Log in | Pasteur.io Admin </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-md-center vertical-center">
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="card-body">
                        <div class="card-title pb-3">
                            <h1><b>Pasteur.io</b> Admin</h1>
                        </div>
                        
                        <div></div>

                        {% if form.errors and not form.non_field_errors %}
                            <div class="alert alert-danger">
                            {% if form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                                {% else %}
                                    {% trans "Please correct the errors below." %}
                            {% endif %}
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% if user.is_authenticated %}
                            <div class="alert alert-warning">
                            {% blocktrans trimmed %}
                                You are authenticated as {{ username }}, but are not authorized to access this page. Would you like to login to a different account?
                            {% endblocktrans %}
                            </div>
                        {% endif %}

                        <form action="{{ app_path }}" method="post" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div >
                                    {{ form.username.errors }}
                                    {{ form.username.label_tag }} 
                                </div>
                                <div class="form-input">{{ form.username }}</div>
        
                            </div>
                            <div class="form-group pb-3">
                                <div>
                                    {{ form.password.errors }}
                                    {{ form.password.label_tag }} 
                                </div>
                                <div class="form-input">{{ form.password }}</div>
                                
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>

                            <div class="form-group row justify-content-md-center">
                                <div class="col">
                                    <input class="btn btn-secondary btn-block" type="submit" value="{% trans 'Log in' %}" />
                                    {% url 'admin_password_reset' as password_reset_url %}
                                    {% if password_reset_url %}
                                        <div class="password-reset-link">
                                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>