html, body {
    overflow-x: hidden;
}

a:focus{
    outline: none;
}

.navbar{
    background: #632d55;
}

.icon{
    width:15px;
    height:15px;
    fill: #fff;
}


#sidebar-collapse{
    margin-right: 20px;
}

#sidebar-collapse:hover{
    fill: #a393bf;
}

.sidebar {
    box-sizing: border-box;
    min-height: 100vh;
    width: 200px;
    background: #0c0910;
    margin-left: -150px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}

.content{
    padding: 20px;
}

.active{
    margin-left: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}   

.nav-link{
    display: block;
    height: 50px;
}

.nav-link:hover{
    background: #9882ac;
}

.sidebar-text{
    display: none;
    margin: 5px 10px 0 0;
}

.sidebar.active > .nav-link > .sidebar-text{
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}

.sidebar-icon{
    margin: 10px 2px 0 0;
    float: right;
}

.sidebar.active > .nav-link > .sidebar-icon{
    margin: 10px 10px 0 10px;
    float: left;
}

.user-actions {
    display: inline-block;
}

.user-actions > img {
    border: solid 2px #9882ac;
}

.user-actions > a {
    color: #fff;
}

.user-actions > a:hover {
    color: #a393bf;
    text-decoration: none !important;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu > a:focus{
    background-color: #9882ac;
    color: #fff;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.filler {
    height: 2000px;
    background: #ddd;
}

.object-tools {
    list-style: none;
    display: inline-block;
}