<button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- <a class="navbar-brand" href="#"></a> -->
<button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">
    <span class="navbar-toggler-icon"></span>
</button>
<ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
        <a class="nav-link" href="/app">Overview</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="/app/experiments">Experiments</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="/app/projects">Projects</a>
    </li>
    <!--
    <li class="nav-item px-3">
        <a class="nav-link" href="/app/analysis">Analysis</a>
    </li>
    -->
    <li class="nav-item px-3">
        <a class="nav-link" href="/accounts/userlist">Users</a>
    </li>
</ul>
{% include 'app/app_user_menu.html' %}
