<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/app">
                <svg class="icon">
                    <use xlink:href="#monitor" class="icon-monitor"></use>
                </svg>
                <span class="">Overview</span>
            </a>
        </li>
        <li class="nav-title">
            Experiments
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/experiments">
                <svg class="icon ">
                    <use xlink:href="#spreadsheet"></use>
                </svg>
                <span class="">Experiments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/projects">
                <svg class="icon ">
                    <use xlink:href="#clipboard"></use>
                </svg>
                <span class="">Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/upload">
                <svg class="icon ">
                    <use xlink:href="#plus"></use>
                </svg>
                <span class="">Upload</span>
            </a>
        </li>
	<!-- Removed right now because we don't want to confuse users
        <li class="nav-item">
            <a class="nav-link" href="/app/analysis">
                <svg class="icon ">
                    <use xlink:href="#calculator"></use>
                </svg>
                <span class="">Analysis</span>
            </a>
        </li>
	-->
        <li class="nav-title">Users</li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts/userlist">
                <svg class="icon" viewBox="0 0 8 8">
                    <use xlink:href="#people"></use>
                </svg>
                User list</a>
        </li>

	<li class="nav-title">Lab</li>
	<li class="nav-item">
            <a class="nav-link" href="/app/sop">
                <svg class="icon" viewBox="0 0 8 8">
                    <use xlink:href="#document"></use>
                </svg>
                Procedures</a>
        </li>
	<!--
	<li class="nav-item">
            <a class="nav-link" href="/app/inventory">
                <svg class="icon" viewBox="0 0 8 8">
                    <use xlink:href="#cart"></use>
                </svg>
                Inventory</a>
        </li>
	-->
	{% if request.user.is_manager %}

	<li class="nav-title">Management</li>
	<li class="nav-item">
          <a class="nav-link" href="/management/templates">
            <svg class="icon" viewBox="0 0 8 8">
              <use xlink:href="#plus"></use>
            </svg>
            <span class="">Templates</span>
          </a>
        </li>

	<li class="nav-item">
          <a class="nav-link" href="/management/projects">
            <svg class="icon ">
              <use xlink:href="#clipboard"></use>
            </svg>
            <span class="">Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/management/projects/calendar">
            <svg class="icon ">
              <use xlink:href="#calendar"></use>
            </svg>
            <span class="">Calendar</span>
          </a>
        </li>
        
	
	
	
	{% endif %}
	
    </ul>
</nav>
