<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/app">
                <svg class="icon">
                    <use xlink:href="#monitor" class="icon-monitor"></use>
                </svg>
                <span class="">Overview</span>
            </a>
        </li>
        <li class="nav-title">
            Experiments
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/experiments">
                <svg class="icon ">
                    <use xlink:href="#spreadsheet"></use>
                </svg>
                <span class="">Experiments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/projects">
                <svg class="icon ">
                    <use xlink:href="#clipboard"></use>
                </svg>
                <span class="">Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/upload">
                <svg class="icon ">
                    <use xlink:href="#plus"></use>
                </svg>
                <span class="">Upload</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/analysis">
                <svg class="icon ">
                    <use xlink:href="#calculator"></use>
                </svg>
                <span class="">Analysis</span>
            </a>
        </li>
        <li class="nav-title">Users</li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts/userlist">
                <svg class="icon" viewBox="0 0 8 8">
                    <use xlink:href="#people"></use>
                </svg>
                User list</a>
        </li>
    </ul>
</nav>