<footer class = "page-footer font-small blue pt-4 mt-4">
  <div class="footer-copyright py-3 text-center">

    <div class="footer-copyright py-6 text-center">
       © 2018 Copyright: <a href="/">Pasteur.Io</a>
      <span>
	<svg class="icon">
	  <use xlink:href="#beaker" class="icon-beaker"></use>
	</svg>
      </span>
      Made Proudly in Edmonton
    </div>

    <div class="footer-copyright py-6 text-center">
      <a href="/support">Support</a>
      |
      <a href="/contactus">Contact Us </a>
      |
      <a href="/invest">Investors</a>
    </div>
   
   
  </div>
</footer>
