{{experiment_data}}
{% load static %}

<div class="form-group" id= "metadata-fields">
    <legend>Metadata</legend>
    <!-- ajax get metadata from company and from project -->
</div>

<div class="form-group">
    <legend>Experiment Data</legend>
    <div class="form-group col-sm-10">
       
    </div>


    <div class="form-group">

        <button type="button" class="btn btn-info btn-sm" id="add-row" >Add Row</button>
    
    </div>
</div>

<div class="form-group" id="experiment-data"></div>