<!DOCTYPE html>
{% extends 'app/base_template.html' %}
{% block content %}
  <div class = "table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for header in header_list %}
          <th>{{header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in experiments %}
        <tr>
          {% for y in i %}
          <td> {{y}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

