<!DOCTYPE html>
{% extends 'app/base_template.html' %}


{% block content %}
{% load static %}
<script src="{% static '/app/index.js' %}"></script>
  <div class = "table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          {% for header in header_list %}
          <th>{{header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in experiments %}
        <tr class="metadatarow" data-href="/experiment/{{ i.0 }}">
          {% for y in i %}
          <td>{{y}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

