<!DOCTYPE html>
{% extends 'app/base_template.html' %}


{% block content %}
{% load static %}
<script src="{% static '/app/js/index.js' %}"></script>
  <div class = "table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          {% for header in header_list %}
          <th>{{header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in experiments %}
        <tr class="metadatarow" data-href="/app/experiment/{{ i.0 }}">
          {% for y in i %}
          <td>{{y}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination pagination-sm">
      {% if experiments.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{experiments.previous_page_number}}">Previous</a></li>
      {% endif %}
      {% if experiments.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{experiments.next_page_number}}">Next</a></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

