{% extends 'app/base_template.html' %}
{% load static %}

{% block css_extra %}
<style type="text/css">
    .project-row:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/app">Home</a>
</li>
<li class="breadcrumb-item active">
    Projects
</li>
{% endblock %}

{% block nav_extra %}
<a class="btn" href="create">New Project</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Projects</h2>

                <table id="project-table" class="table table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th>Project Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr class="project-row" data-url='/app/projects/{{project.id}}'>
                            <td>{{project.name}}</td>
                            <td>{{project.start}}</td>
                            <td>{{project.end}}</td>
                            <td>{{project.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
<script type="text/javascript">
    $(".project-row").click(function(){
        window.location = $(this).data("url");
    });
</script>
{% endblock %}
