{% extends 'app/base_template.html' %}
{% load staticfiles %}

{% block header%}
<link rel='stylesheet' media="screen" href=" https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.34.4/handsontable.full.min.css">
{% endblock %}

{% block content %}

<h1>Upload Experiment</h1>
<form method="POST" enctype=multipart/form-data id="exp-form" onSubmit="parse_data()">
    {% csrf_token %}
    <h2>Metadata</h2>
    {{ meta_form.as_p }}
    <hr>
    <h2>Experiment Data</h2>
    
    {{ exp_form }} 

    
    
    <label>
        Template
    <select id="template-select">
        {% for template in templates %}
            <option value="{{ template }}">{{template}}</option>
        {% endfor %}
    </select>
    </label>
    
    <div style="float:right">
    <button type="button" id="add-row" >Add Row</button>
    <button type="button" id="add-var" >Add Variable</button>
    <button type="button" id="template-save">Save Template</button>
    </div>

    <div id="data-table">
<!--
        table goes here.
-->
    </div>
    
    <button type="submit" id="form-submit">Submit</button>
</form>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.34.4/handsontable.full.min.js"></script>
<script src="{% static 'app/js/exp_input.js'%}"></script>
{% endblock %}
