{% extends 'app/base_template.html' %}
{% load static %}
{% block css_extra %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/app">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="/app/projects">Projects</a>
</li>
<li class="breadcrumb-item">
{{ project.name }}
</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ project.name }}</h2>
                <div class="text-muted">{{project.start}} -
                    {% if project.end %}
                        {{ project.end }}
                    {% endif %}
                </div>
                <div>
                    {{ project.description }}
                </div>
                <div class="card-block">
                    Some graphs and stats here.
                </div>
            </div>
            <div class="card-footer">
                <ul>
                    <li>
                        <div class="text-muted">Total</div>
                        <strong>{{ experiments|length }} Experiments</strong>
                    </li>
                    <li class="d-none d-md-table-cell">
                        <div class="text-muted">Participants</div>
                        <strong>{{ user_count }} {% if user_count > 1 %} Scientists{% else %}Scientist{% endif %}</strong>
                    </li>
                    <li>
                        <div class="text-muted">Some stat</div>
                        <strong>1 thing</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Experiments</h2>
                <div class="card-block">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Upload Date</th>
                                <th>Scientist</th>
                                <th>Tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not experiments %}
                                <tr><td class="text-center" colspan="4">This project has no experiments</td></tr>
                            {% endif %}

                            {% for experiment in experiments %}
                            <tr class="clickable" data-id={{experiment.id}}>
                                <td>{{ experiment.friendly_name }}</td>
                                <td>{{ experiment.create_timestamp }}</td>
                                <td>{{ experiment.user }}</td>
                                <td>
                                    {% for tag in experiment.tags.all %}
                                    {{ tag }}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
<script type="text/javascript">
    $(".clickable").click(function(){
        window.location.href = "/app/experiment/" + $(this).data('id')
    })
</script>
{% endblock %}
