{% extends 'app/base_template.html' %}
{% load task_tags %}

{% load static %}
{% block css_extra %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="/app">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="/app/projects">Projects</a>
</li>
<li class="breadcrumb-item">
{{ object.name }}
</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 ">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-9">
                        <h1 class="card-title">{{object}}</h1>
                    </div>
                    <div class="col-3">
                        {%include "app/watch_button.html"%}
                    </div>
                </div>

                <div class="text-muted">{{object.start}} -
                    {% if object.end %}
                        {{ object.end }}
                    {% endif %}
                </div>
                <div>
                    {{ object.description }}
                </div>
            </div>
            <div class="card-footer">
                <ul>
                    <li>
                        <div class="text-muted">Total Experiments</div>
                        <strong>{{ experiments|length }} </strong>
                    </li>
                    <li class="d-none d-md-table-cell">
                        <div class="text-muted">Participants</div>
                        <strong>{{ user_count }}</strong>
                    </li>
                    <li class="d-none d-md-table-cell">
                        <div class="text-muted">Progress</div>
                        <strong>{% task_progress object %} %</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    some more stats here.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Experiments</h2>
                <div class="card-block">
                    <table class="table table-responsive-sm table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Upload Date</th>
                                <th>Scientist</th>
                                <th>Tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not experiments %}
                                <tr><td class="text-center" colspan="4">This project has no experiments</td></tr>
                            {% endif %}

                            {% for experiment in experiments %}
                            <tr class="clickable" data-id={{experiment.id}}>
                                <td>{{ experiment.friendly_name }}</td>
                                <td>{{ experiment.create_timestamp }}</td>
                                <td>{{ experiment.user }}</td>
                                <td>
                                    {% for tag in experiment.tags.all %}
                                    {{ tag }}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extra %}
<script type="text/javascript">
    $(".clickable").click(function(){
        window.location.href = "/app/experiment/" + $(this).data('id')
    })
    var id={{object.pk}}
    var type="PRJ"
</script>
<script src='{% static "app/js/watch.js"%}'></script>

{% endblock %}
