#yaxbox,  #xaxbox{
    border-right: solid 1px;
    border-bottom: solid 1px;
}

#main_graph{
    border-bottom: solid 1px;
}
#toolbox{
    border-left: solid 1px;
    border-bottom: solid 1px;
}

#experiment_selector{
    border-top: solid 1px;

}
#chart{
    padding:20px;

}
