body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.sidebar{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav-item {
    width: 100%;

}

.hide {
    display: none;
}


.delete-row {
    cursor: pointer;
    color: #6F0000;
    
}
